<p id="notice"><%= notice %></p>

<h1><%= @question.title %></h1>

<%= form_for @vote do |f| %>
<%= hidden_field :question_id, @question.id %>
<fieldset>
	<% @question.options.each do |option| %>
		<div class="field">
			<%= radio_button "option_id", option.id %><%= option.title %>
		</div>
	<% end %>
</fieldset>
<% end %>